/* src/Weather.css */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /*Optional: just make scrollbar invisible*/
}

.weather-container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 94.4vh;
  width: 100vw;
  background: url('../src/assets/images/weatherImg.jpg') no-repeat center/cover;
  box-sizing: border-box;
}

.weather-header {
  text-align: center;
  margin-bottom: 20px;
  color: #12425e;
  text-shadow: #be433a 1px 2px 4px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 2px 0 10px 0;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
  letter-spacing: 2px;
}
form {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
}

input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.7);
  margin-right: 10px;
  flex: 1;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.weather-info {
  text-align: center;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.3);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin: 20px 0 ;
  box-sizing: border-box;
}

footer {
  padding: 0.5rem;
}

@media (min-width: 768px) {
  form {
    flex-direction: row;
  }

  input {
    margin-right: 10px;
  }

  button {
    padding: 10px 30px;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
